@import 'partials';

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.modal-body {
  position: fixed;
  background: $gray;
  left: 50%;
  top: 50%;
  padding: 15;
  border-radius: 16px;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

.modal-body-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-children-wrapper {
  width: 100%;
  height: 100%;
}
