@import 'partials';

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
}

.modal-body {
  position: absolute;
  background: #fff;
  top: 25;
  left: 10%;
  right: 10%;
  padding: 15;
  border: 2px solid #444;
}
