@import 'partials';

.details-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 0.9em;
  margin-left: 10px;
  margin-bottom: 10px;
}

.details-wrapper .bottle-cover {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.details-wrapper .keg-cover {
  margin-top: 1.17em;
  background-size: 70%;
  background-repeat: no-repeat;
}

.details-wrapper .text-container {
  display: flex;
  flex-flow: column;
  color: #a4a4a4;
}

.details-wrapper .text-container .title {
  margin-bottom: 0.5em;
  color: #333;
}

.details-wrapper .feature-container {
  display: flex;
  flex-flow: row nowrap;
}

.details-wrapper .features-name {
  padding-right: 10px;
}

.details-wrapper .features-name strong {
  font-weight: 600;
  color: #333;
}

.details-wrapper .feature-container,
.details-wrapper .description {
  padding-top: 20px;
}

.details-wrapper .pairing-list p {
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.details-wrapper .spinner-cover {
  width: 150px;
  height: 350px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.details-wrapper .pairing-list .pairing-list {
  text-indent: 10px;
}

.details-wrapper .pairing-list li:before {
  content: '- ';
}

@media only screen and (min-width: 1001px) {
  .details-wrapper {
    width: 700px;
  }

  .details-wrapper .text-container {
    width: 400px;
  }
}

@media only screen and (max-width: 1000px) {
  .details-wrapper {
    flex-flow: column;
    align-items: center;
    padding: 0 20px;
    height: 100%;
  }

  .details-wrapper .bottle-cover {
    height: 250px !important;
    background-size: 30%;
  }

  .details-wrapper .keg-cover {
    background-position: center;
    height: 250px !important;
    background-size: 60%;
  }

  .details-wrapper .text-container {
    margin: 0 20px auto 20px;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .details-wrapper {
    border-radius: 0;
    width: calc(100% - 40px);
    height: 100%;
    margin-left: 0;
  }
}

// .details-wrapper {
//   display: flex;
//   flex-direction: column;
//   flex-grow: 1;
//   width: inherit;
//   height: 100%;
// }

// .details-body {
//   display: flex;
//   flex-grow: 1;
// }

// .similar-beers-wraper {
//   .list-wrapper {
//     width: 80%;
//     margin: 0 auto;

//     a {
//       img {
//         max-height: 100px;
//       }
//     }
//   }
// }
