body {
  background: $grey;
}

.row-spacing > *:not(:last-child) {
  margin-bottom: 16px;
}

.row-spacing-half > *:not(:last-child) {
  margin-bottom: 8px;
}

.col-spacing > *:not(:last-child) {
  margin-right: 12px;
}
