@import 'partials';

.Page {
  align-items: center;
  flex-flow: column;
  border-radius: 5px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: $small) {
    flex-direction: column;
  }
}
