.Button {
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background: #fff;
	text-align: center;
	vertical-align: middle;
	color: #333;
	margin: auto 20px;
}