.SuggestionList {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.SuggestionList h4 {
	margin: 10px 0 0 0;
}

.SuggestionList .list { 
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 0;
}

@media only screen and (min-width: 1001px) {

	.SuggestionList .item {
		margin: auto 20px;
	}
}

@media only screen and (max-width: 1000px) {
	
	.SuggestionList {
		margin: 50px 20px auto 20px;
	}

	.SuggestionList .item {
		margin: 0 10px 20px 10px;
	}

	.SuggestionList h4 {
		text-align: center;
	}
}