@import 'partials';

.similar {
  display: flex;
  flex-flow: column;
  align-items: center;

  @media screen and (min-width: $large) {
    max-width: 80%;
  }

  .similar-spinner-wrapper {
    min-height: 280px;
    display: flex;
  }

  h4 {
    text-align: center;
  }

  .hint {
    margin: auto;
  }

  .similar-body {
    flex-grow: 1;
  }

  .list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
  }
}
