@import 'partials';

.list-wrapper {
  display: flex;
  flex-wrap: wrap;

  .item-wrapper {
    @include boxShadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: white;
    border-radius: 16px;
    padding: 32px 8px;
    box-sizing: border-box;

    @media screen and (min-width: $small) {
      margin: 10px;
      flex: 0 1 calc(50% - 20px);
    }

    @media screen and (min-width: $medium) {
      flex: 0 1 calc(33.33% - 20px);
    }

    img {
      padding: 16px 0;
    }
  }
}
