.List {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  .item-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .item {
    margin-bottom: 40px;
  }
}
