@import 'partials';

.list-wrapper {
  display: flex;
  flex-wrap: wrap;

  .item-wrapper {
    @include boxShadow;
    @include transition;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: white;
    border-radius: 16px;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;

    @media screen and (min-width: $small) {
      margin: 10px;
      flex: 0 1 calc(50% - 20px);
    }

    @media screen and (min-width: $medium) {
      flex: 0 1 calc(33.33% - 20px);
    }

    &:hover {
      box-shadow: 0px 0px 7px -2px rgba(0, 214, 100, 1);
      color: $greenNetGuru;

      img {
        transform: scale(1.05);
      }
    }

    img {
      @include transition;
      padding: 16px 0;
    }
  }
}

.tagline {
  color: $darkGray;
}
